<div style="margin-top: 100px; margin-bottom: 50px;" class="container">
  <div>
      <h1 #animateHeader class="animate__animated">
          Know our range of products
      </h1>
  </div>
  <div style="margin-top: 30px;" class="row">
      <div style="margin-bottom: 15px;" class="col-lg-4 col-xs-12 col-sm-12  sizeH">
          <div class="card">
              <img src="assets/images/gwagon.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                  <h5 class="card-title">4MATIC</h5>
                  <p class="card-text">Vehicles from the brand equipped with all-wheel drive or four-wheel drive. This technology, known as 4MATIC in Mercedes-Benz nomenclature, is designed to enhance vehicle stability and performance under various road conditions.</p>
                  <a style="background-color: grey;color: white;" href="#!" class="btn ">Visit</a>
              </div>
          </div>
      </div>
      <div style="margin-bottom: 15px;" class="col-lg-4 col-xs-12 col-sm-12 sizeH">
          <div class="card">
              <img src="assets/images/amg.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                  <h5 class="card-title">AMG</h5>
                  <p class="card-text">Mercedes-AMG is the high-performance branch of Mercedes-Benz, delivering powerful and meticulously engineered vehicles with enhanced performance, handling, and distinctive styling.</p>
                  <a style="color: white; background-color: grey;" href="#!" class="btn">VISIT</a>
              </div>
          </div>
      </div>
      <div style="margin-bottom: 15px;" class="col-lg-4 col-xs-12 col-sm-12 sizeH">
          <div class="card">
              <img src="assets/images/mg.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                  <h5 class="card-title">Mercedes-McLaren</h5>
                  <p class="card-text">The Mercedes-Benz SLR McLaren is a high-performance sports car developed through a collaboration between Mercedes-Benz and McLaren.</p>
                  <a style="color: white; background-color: grey;" href="#!" class="btn">VISIT</a>
              </div>
          </div>
      </div>
  </div>
</div>
