<div class="background-container">
    <!-- Video de fondo -->
    <video class="background-video" autoplay muted loop>
      <source src="assets/images/EXAGON.mp4" type="video/mp4">
      Tu navegador no soporta el formato de video.
    </video>
    <!-- Componente Atropos -->
    <div class="atropos my-atropos">
      <!-- scale container (required) -->
      <div class="atropos-scale">
        <!-- rotate container (required) -->
        <div class="atropos-rotate">
          <!-- inner container (required) -->
          <div class="atropos-inner">
            <div class="image-container">
              <img src="assets/images/Logo.png" alt="Logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  