<div style="margin-top: 100px; margin-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div #animatePageLeft class="col-6 animate__animated animate__fadeOut">
                <img class="style-img" style="width: 100%; height: 100%; border-radius: 5px;" src="assets/images/12.JPG" alt="EQ Vehicles">
            </div>
            <div class="col-6 style-img" style="background-color: white; color: black; padding: 20px;">
                <h2 #animatePageRight class="animate__animated animate__fadeOut">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, vero! Odit adipisci tempora debitis
                    aperiam voluptatem? Assumenda omnis deserunt, repellendus mollitia quaerat alias pariatur laborum
                    doloribus sequi ipsa soluta atque.</h2>
            </div>
        </div>

        <div style="margin-top: 110px;" class="row">
            <div class="col-4 style-img" style="background-color: white; color: black; padding: 20px;">
                <h2 #animatePageLeft class="animate__animated animate__fadeOut">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, vero! Odit adipisci tempora debitis
                    aperiam voluptatem? Assumenda .</h2>
            </div>
            <div #animatePageRight class="col-8 animate__animated animate__fadeOut">
                <img class="style-img" style="width: 100%; height: 90%; border-radius: 5px;" src="assets/images/10.jpg" alt="EQ Vehicles">
            </div>
        </div>
        <div style="margin-top: 110px;" class="row">
            <div #animatePageLeft class="col-4  animate__animated animate__fadeOut">
                <img  class="style-img" style="width: 100%; height: 100%; border-radius: 5px;" src="assets/images/7.jpg" alt="EQ Vehicles">
            </div>
            <div class="col-8 style-img" style="background-color: white; color: black; padding: 20px;">
                <h2 #animatePageRight class="animate__animated animate__fadeOut">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, vero! Odit adipisci tempora debitis
                    aperiam voluptatem? Assumenda omnis deserunt, repellendus mollitia quaerat alias pariatur laborum
                    doloribus sequi ipsa soluta atque. </h2>
            </div>
        </div>
    </div>
</div>
